{% extends '@App/layout.html.twig' %}

{% block title %}Subscription{% endblock %}


{% block body %}

    <h1>Subscription</h1>

    <div>
        <form action="{{ path('subscribe') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ csrf_token() }}"
                    data-amount="999"
                    data-name="Stripe.com"
                    data-description="Example charge"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true">
            </script>
        </form>
    </div>

{% endblock %}