{% extends '@App/layout.html.twig' %}

{% block title %}Adding category{% endblock %}



{% block body %}

    <h1>Adding category</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <button type="submit" class="btn btn-success" formnovalidate>Add category</button>

    {{ form_end(form) }}


{% endblock %}