{% extends '@App/layout.html.twig' %}

{% block title %}Book list by category{% endblock %}

{% block body %}

    <h1>Book list by category</h1>

    {% for book in books %}


    <figure style="float: left; margin: 10px 20px 10px 20px; text-align: center" >
        <a href="{{ path('book_view', { id: book.id }) }}">
            <p><img src="{{ asset('bundles/app/images/' ~ book.image) }}" alt="{{ book.image }}" style="width: 200px;"></p>
        </a>
        <figcaption>{{ book.title }}</figcaption>
    </figure>


    {% endfor%}

{% endblock %}

