{% extends '@App/layout.html.twig' %}

{% block title %}Book list by category{% endblock %}

{% block body %}

    <h1>Book list by category</h1>

    {% for book in books %}

        <div><a href="{{ path('book_view', { id: book.id }) }}">{{ book.id }}. {{ book.title }}</a></div>

    {% endfor%}

{% endblock %}

