{% extends '@App/layout.html.twig' %}

{% block title %}Book list by category{% endblock %}

{% block body %}

    <h1>Book list by category</h1>

    {% for book in books %}

        <div class="col-md-4">
            <a href="{{ path('book_view', { id: book.id }) }}">
                <img src="{{ asset('bundles/app/images/' ~ book.image) }}"  alt="{{ book.image }}"
                     class="img-thumbnail" style="height: 250px; width: 180px;">
            </a>
            <div>{{ book.title }}</div>

        </div>

    {% endfor%}

{% endblock %}

